.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
    align-items: center;
    img {
      width: 50px;
    }
  }
  .logo_desc {
    h1 {
      color: #fff;
      font-size: 20px;
      font-size: 15px;
    }
    p {
      color: #fff;
    }
  }
  .menu {
    display: flex;
    li {
      list-style: none;
      padding: 0;
      &:not(:nth-last-child(1)) {
        margin-right: 20px;
      }
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
